.menu-container {
  position: relative;
  width: 300px;
  margin: 50px auto;
}

.menu {
  display: flex;
  justify-content: space-between;
  border: 2px solid #add8e6;
  border-radius: 5px;
}

.menu-item {
  flex: 1;
  padding: 15px 0;
  text-align: center;
  color: #000;
  position: relative;
  cursor: pointer;
  transition: color 0.3s ease;
  z-index: 2;
}

.selected {
  color: white;
}

.slider {
  position: absolute;
  top: 0;
  height: 100%;
  width: 33.33%;
  background-color: #00008b; 
  border-radius: 5px;
  z-index: 1; 
  transition: left 0.4s ease-in-out;
}
