PORT = "Your port number"
MONGO_URI = "Your MongoDB URI"
JWT_SECRET = "Your JWT Secret"
NODE_ENV = "Your Node Environment"
CLOUDINARY_CLOUD_NAME= "Your Cloudinary Cloud Name"
CLOUDINARY_API_KEY= "Your Cloudinary API Key"
CLOUDINARY_API_SECRET= "Your Cloudinary API Secret"